<% form_for(@user) do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :identifier %>
	<p>
	    <%= f.label :username %>
	    <br/>
	    <%= f.text_field :username %>
	</p>
	<p>
	    <%= f.label :email %>
	    <br/>
	    <%= f.text_field :email %>
	</p>
	<p>
	    <%= f.submit 'Save' %>
	</p>
<% end %>