<h2>Listing users</h2>
<% if @users.empty? %>
	<p>No users found! Login to be the first.</p>
<% else %>
<table>
    <tr>
        <th>
            Identifier
        </th>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td>
            <%=h user.identifier %>
        </td>
        <td>
            <%=h user.username %>
        </td>
        <td>
            <%=h user.email %>
        </td>
        <td>
            <%= link_to 'Show', user %>
        </td>
        <td>
            <%= link_to 'Edit', edit_user_path(user) %>
        </td>
        <td>
            <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
        </td>
    </tr>
    <% end %>
</table>
<% end %>