<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title><%= @title.titleize + ' - Janrain Engage Demo' %></title>
        <%= stylesheet_link_tag 'screen' %>
    </head>
    <body>
				<h1><%= link_to 'Janrain Engage Demo', root_path %></h1>
        <ul>
            <% if current_user %>
            <li>
                Hi, <%= link_to h(current_user.username), current_user %> [ <%= link_to 'Edit', edit_user_path(current_user) %> | <%= link_to 'Destroy', current_user, :confirm => 'Are you sure you want to delete your account?', :method => :delete %> | <%= link_to 'Logout', logout_path %> ]
            </li>
            <% else %>
            <li>
                Login [ <%= RPXNow.popup_code 'Popup', 'janrain-engage-demo', user_sessions_url %> | <%= link_to 'Embedded', new_user_session_path %> ]
            </li>
            <% end %>
        </ul>
        <%- flash.each do |name, message| -%>
        <%= content_tag :div, message, :class => "#{name}" %>
        <%- end -%>
        <%= yield %>
    </body>
</html>
